<h1>{{title}}</h1>

<hr />
<br />

<span>Name:</span><input #roomName />
<br />
<span>Capacity:</span><input type="number" #roomCapacity />
<br />
<button (click)="addRoom(roomName.value, roomCapacity.value)">Add Room</button>
<br />
<button (click)="toggleDetailsVisibility()">Show / Hide Details</button>

<hr />

<div *ngIf="showDetails; else roomDetailsTemplate">
    <app-room-list [rooms]="rooms"></app-room-list>
</div>
<ng-template #roomDetailsTemplate>
    <div>
        Room Details Hidden
    </div>
</ng-template>